header{
  display: flex;
  background-color: rgb(5, 130, 233);
  font-size: 0.65rem;
  color: white;
  box-shadow: 0px 0px 7px rgb(121, 120, 120);
}

.logo{
  width: 38px;
  margin-right: 33vw;
}

.home{
  font-weight: 400;
}

main{
  background-color:rgb(4, 91, 163);
  padding: 5px 10px;

}

.music-image{
  width: 150px;
  height: 150px;
  border-radius: 10px 10px 0px 0px;
  margin-top: 20px;
}

.music-details{
  width: 136px;
  height:170px;
  background-color: whitesmoke;
  border-radius: 0px 0px 5px 5px;
  margin-top: -25px;
  padding: 10px 7px;
}

.music-title{
  color: rgb(4, 91, 163);
  font-size: 0.9rem;
}

.artist,.release_date{
  margin-top: -17px;
  font-size: 0.9rem;
}

.artist{
  align-self:flex-start;
}

.cards{
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  justify-content: center;
}

.like{
  width: 20px;
  height: 20px;
  margin-left: 25px;
  align-self: flex-end;
  
}

a{
  text-decoration: none;
  color: white;
}

.play_Button{
  border-radius: 5px;
  background-color:rgb(4, 91, 163);
  outline: none;
  border: none;
  width: 7rem;
  height: 2rem;
  margin-top: -5px;
  
}

.info{
  color: white;
}

.new{
  margin-top: -10px;
}

.title-and-like{
  display: flex;
  justify-content: space-evenly;
}

@media screen and (min-width:500px){
  .cards{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 3vw;
    justify-content: center;
  }
  header{
    display: flex;
  }

  .logo{
    margin-right: 42vw
  }


  .home{
    align-self:center;
  }
}