.header{
  display: flex;
  background-color: rgb(5, 130, 233);
  font-size: 0.65rem;
  color: white;
  box-shadow: 0px 0px 7px rgb(121, 120, 120);
  justify-content:space-between;
}

.logo{
  width: 38px;
  margin-right: 33vw;
}

.home{
  font-weight: 400;
  margin-left: -40px;
}

#music{
  background-color:rgb(4, 91, 163);
  padding: 5px 10px;

}

.music-image{
  width: 150px;
  height: 150px;
  border-radius: 10px 10px 0px 0px;
  margin-top: 20px;
}

.music-details{
  width: 136px;
  height:170px;
  background-color: whitesmoke;
  border-radius: 0px 0px 5px 5px;
  margin-top: -25px;
  padding: 10px 7px;
}

.music-title{
  color: rgb(4, 91, 163);
  font-size: 0.9rem;
}

.artist,.release_date{
  margin-top: -17px;
  font-size: 0.9rem;
}

.artist{
  align-self:flex-start;
}

.cards{
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  justify-content: center;
}

.like{
  width: 20px;
  height: 20px;
  margin-left: 25px;
  align-self: flex-end;
  
}

a{
  text-decoration: none;
  color: white;
}

.play_Button{
  border-radius: 5px;
  background-color:rgb(4, 91, 163);
  outline: none;
  border: none;
  width: 7rem;
  height: 2rem;
  margin-top: -5px;
  
}

.info{
  color: white;
}

.new{
  margin-top: -10px;
}

.title-and-like{
  display: flex;
  justify-content: space-evenly;
}

li{
  list-style: none;
  color: rgb(112, 110, 110);
  font-size: 1.2rem;
  padding: 5px;
}
.nav-box{
  display: none;
  /*disply: none;*/
}

.hamburger span{
  border-bottom: 2px solid whitesmoke;
  margin-bottom: 1px;
  width: 1.5rem;
  border-radius: 5px;
}

.hamburger{
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-top: 22px;
  margin-left: 35vw;
}

.hamburger span:nth-child(2){
  transform: translate(8px, 0px);
  width: 1rem;
}

.close{
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-left: 34vw;
  margin-top: 25px;
}
.close span{
  border-bottom: 4px solid whitesmoke;
  margin-bottom: 1px;
  width: 1.5rem;
  border-radius: 5px;
}

.close span:nth-child(1){
  transform: rotate(310deg);
}
.close span:nth-child(3){
  transform: rotate(50deg);
  margin-top: -6px;
}
.close span:nth-child(2){
  display: none;
}

.close-bar{
  background-color: transparent;
  width: 50vw;
  position:fixed;
  margin-left: -25px;
  height: 100vh;
  padding: 5px;
}

.event-body{
  background-color: white;
  margin-top: 1px;
  padding: 10px;
}

.event-image{
  height: 22rem;
  width: 18.5rem;
  border-radius: 20px;
  margin-top: -50px;
  
}

.event-date{
  background-color: rgb(4, 91, 163);
  width: 40px;
  border: 2px solid white;
  border-radius: 10px;
  color: whitesmoke;
  text-align: center;
  height: 9.5vh;
  position: relative;
  top: 17px;
  left: 15px;

}
.event-date-child{
  margin: 0px;
}

.event-grid{
  display: grid;
  grid-template-columns: auto;
  gap: 10px;
  justify-content: center;
}
.strong{
  font-weight: 700;
  font-size: 1.2rem;
}

.event{
  margin-top: -10px;
}

.event h4{
  color: rgb(4, 91, 163);
}
.event-info{
  color: rgb(138, 136, 136);
  margin-top: -10px;
}

.live-event{
  color: rgb(4, 91, 163);
}

.event-details{
  background-color: rgba(138, 136, 136, 0.336);
  border-radius: 20px;
  padding: 5px;
  border: 2px solid rgb(4, 91, 163);
  position: relative;
  bottom: 58px;
}

.event-location-details{
  background-color: rgba(5, 130, 233, 0.555);
  display: flex;
  border-radius: 10px;
  width: 15rem;
  height: 2.9rem;
  padding: 2px;
}

.event-location{
  margin-top: -5px;
  display: grid;
  grid-template-rows: auto;
  justify-content: right;
}
.location{
  width: 32px;
  height: 32px;
  align-self: center;
}

.location-details{
  border-right: 2px solid white;
  font-size: 0.7rem;
  text-align: right;
  padding: 2px;
  align-self: center;
  color:whitesmoke;
  font-weight: 600;
}

.event-time{
  background-color: rgba(5, 130, 233, 0.555);
  display: flex;
  border-radius: 10px;
  width: 15rem;
  height: 2rem;
  padding: 2px;
  margin-top: 5px;
  color: whitesmoke;
  font-weight: 600;
}

.time{
  width: 32px;
  height: 32px;
  align-self: center;
}

.event-time-details{
  border-right: 2px solid white;
  font-size: 0.7rem;
  text-align: right;
  padding: 2px;
  align-self: center;
  width: 85%;
}

.event-owner{
  margin-top: -18px;
  font-size: 0.8rem;
  color: white;
}

.event-title{
  margin-top: -5px;
  font-size: 1.3rem;
  color: rgb(4, 91, 163);
}
@media screen and (min-width:500px){
  .cards{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 3vw;
    justify-content: center;
  }

  .header{
    display: flex;
  }

  .logo{
    margin-right: 42vw
  }


  .home{
    align-self:center;
  }
}

@media screen and (min-width:768px) {
  .hamburger,.close{
    display: none;
  }
  .nav-box{
    position:relative;
    background-color: transparent;
    height: 35px;
    margin-top: -2px;
    display: block;
  }
  ul{
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
  }

  li{
    color: white;
  }

}