.home-header{
  display: flex;
  background-color: rgb(5, 130, 233);
  font-size: 0.65rem;
  color: white;
  box-shadow: 0px 0px 7px rgb(121, 120, 120);
  font-family: 'Readex Pro';
  justify-content: flex-start;
}
.header{
  display: flex;
  background-color: rgb(5, 130, 233);
  font-size: 0.65rem;
  color: white;
  box-shadow: 0px 0px 7px rgb(121, 120, 120);
  justify-content:space-between;
  font-family: 'Readex Pro';
}

.no-nav{
  display: none;
}

.yes-nav{
  display: block
}
.logo{
  width: 38px;
  margin-right: 33vw;
}

.home{
  font-weight: 400;
  margin-left: -50px;
  text-align: center;
  text-transform: uppercase;
  width: 35%;
}

#music{
  background-color:rgb(4, 91, 163);
  padding: 5px 10px;
}

.music-image{
  width: 150px;
  height: 150px;
  border-radius: 10px 10px 0px 0px;
  margin-top: 20px;
}

.music-details{
  width: 136px;
  height:130px;
  overflow: hidden;
  background-color: whitesmoke;
  border-radius: 0px 0px 5px 5px;
  margin-top: -25px;
  padding: 10px 7px;
}

.music-details-open{
  width: 136px;
  height:auto;
  background-color: whitesmoke;
  border-radius: 0px 0px 5px 5px;
  margin-top: -25px;
  padding: 10px 7px;
}

.music-title{
  color: rgb(4, 91, 163);
  font-size: 0.9rem;
}

.artist,.release_date{
  margin-top: -17px;
  font-size: 0.9rem;
}

.artist{
  align-self:flex-start;
}

.cards{
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  justify-content: center;

}

.like{
  width: 20px;
  height: 20px;
  margin-left: 25px;
  align-self: flex-end;
  
}

a{
  text-decoration: none;
  color: white;
}

.play_Button{
  border-radius: 5px;
  background-color:rgb(4, 91, 163);
  outline: none;
  border: none;
  width: 7rem;
  height: 2rem;
  margin-top: -5px;
  
}

.info{
  color: white;
}

.new{
  margin-top: -10px;
}

.title-and-like{
  display: flex;
  justify-content: space-evenly;
}

li{
  list-style: none;
  font-size: 1.2rem;
  padding: 5px;
}
.nav-box{
  display: none;
  
}

.hamburger span{
  border-bottom: 2px solid whitesmoke;
  margin-bottom: 1px;
  width: 1.5rem;
  border-radius: 5px;
}

.hamburger{
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-top: 22px;
  margin-left: 35vw;
}

.hamburger span:nth-child(2){
  transform: translate(8px, 0px);
  width: 1rem;
}

.close{
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-left: 34vw;
  margin-top: 25px;
}
.close span{
  border-bottom: 4px solid whitesmoke;
  margin-bottom: 1px;
  width: 1.5rem;
  border-radius: 5px;
}

.close span:nth-child(1){
  transform: rotate(310deg);
}
.close span:nth-child(3){
  transform: rotate(50deg);
  margin-top: -6px;
}
.close span:nth-child(2){
  display: none;
}

.close-bar{
  background-color: transparent;
  position:absolute;
  margin-left: 10px;
  height: 200px;
  padding: 5px;

}

.event-body{
  background-color:rgb(4, 91, 163);
  padding: 10px;
}

.event-image{
  height: 22rem;
  width: 296px;
  border-radius: 20px;
  margin-top: -50px;
  
}

.event-date{
  background-color: rgb(4, 91, 163);
  width: 40px;
  border: 2px solid white;
  border-radius: 10px;
  color: whitesmoke;
  text-align: center;
  height: 50px;
  position: relative;
  top: 17px;
  left: 15px;

}
.event-date-child{
  margin: 0px;
}

.event-grid{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
.strong{
  font-weight: 700;
  font-size: 1.2rem;
}

.event{
  margin-top: -10px;
}

.event h4{
  color: white;
}
.event-info{
  color: rgb(138, 136, 136);
  margin-top: -10px;
}

.live-event{
  color: white;
}

.event-details{
  background-color: rgba(138, 136, 136, 0.336);
  border-radius: 20px;
  padding: 5px;
  border: 2px solid rgb(4, 91, 163);
  position: relative;
  bottom: 58px;
  max-width: 296px;
  max-height: 140px;
  overflow-y: hidden;
}

.event-details-open{
  background-color: rgba(138, 136, 136, 0.336);
  border-radius: 20px;
  padding: 5px;
  border: 2px solid rgb(4, 91, 163);
  position: relative;
  bottom: 58px;
  max-width: 296px;
  height: auto;
}
.event-location-details{
  background-color: rgba(5, 130, 233, 0.555);
  display: flex;
  border-radius: 10px;
  width: 15rem;
  height: 2.9rem;
  padding: 2px;
}

.event-location{
  margin-top: -5px;
  display: grid;
  grid-template-rows: auto;
  justify-content: right;
}
.location{
  width: 32px;
  height: 32px;
  align-self: center;
  position: absolute;
  right: 10px;

}

.location-details{
  border-right: 2px solid white;
  font-size: 0.7rem;
  text-align: right;
  padding: 2px;
  align-self: center;
  color:whitesmoke;
  font-weight: 600;
  width: 84%;
}

.event-time{
  background-color: rgba(5, 130, 233, 0.555);
  display: flex;
  border-radius: 10px;
  width: 15rem;
  height: 2rem;
  padding: 2px;
  margin-top: 5px;
  color: whitesmoke;
  font-weight: 600;
}

.time{
  width: 32px;
  height: 32px;
  align-self: center;
}

.event-time-details{
  border-right: 2px solid white;
  font-size: 0.7rem;
  text-align: right;
  padding: 2px;
  align-self: center;
  width: 85%;
}

.event-owner{
  margin-top: -18px;
  font-size: 0.8rem;
  color: white;
}

.event-title{
  margin-top: -5px;
  font-size: 1.3rem;
  color: rgb(4, 91, 163);
}

.active{
  color: rgb(223, 66, 92);
}
.link{
  color: rgb(138, 136, 136);
}

.quotes{
  width:90vw;
  height: 17vh;
  background-color: rgb(4, 91, 163);
  color: whitesmoke;
  border-radius: 10px 0px 10px 10px;
  margin: 0 auto;
  padding: 2px;
  margin-top: 20px;
  box-shadow: 0px 0px 7px rgb(175, 165, 165);
  
}

.quotes:nth-child(even){
  background-color: rgba(196, 196, 196, 0.664);
  color: rgb(4, 91, 163);
}

.quotes:hover{
  opacity: 0.65;
}

.quotes-main{
  padding: 5px;
  background-color: rgba(5, 130, 233, 0.555);
}

blockquote{
  margin-top: 0px;
}

label{
  display: block;
  color: rgb(4, 91, 163);
  font-weight: 500;
  margin-top: 10px;
}

input{
  display: block;
  width: 90vw;
  height: 35px;
  border: 2px solid rgba(196, 196, 196, 0.664);
  border-radius: 5px;
  outline: none;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#sign-in{
  display: block;
  background-color: whitesmoke;
  border: none;
  width: 30vw;
  height: 8vh;
  color: rgb(4, 91, 163);
  border-radius: 5px;
  margin: 5px 0px;
  font-size: 1rem;
}
.welcome-txt{
  display: none;
  color: whitesmoke;
}

form{
  margin: 0 auto;
  padding: 10px;
}

.form-page{
  background-color: rgb(4, 91, 163);
  height: 100vh;
}

error{
  font-size: 1rem;
  color: red;

}

.favorite-heading{
  display: flex;
  place-content:space-between;
}

.music-banner{
  border-radius: 15px;
}

.favorite-music-title{
  text-overflow:ellipsis;
}

.favorite-music-display{
  max-width: 180px;
}

.favorite-music-display h4{
  margin-top: 0px;
}

.favorite-music-display p{
  margin-top: -20px;
  color:rgb(138, 136, 136);
  box-shadow: 0px 5px 0px 0px rgb(175, 165, 165);
}

.collection{
  padding: 0px 0px 0px 25px;
}
.recent-quotes{
  max-width: 250px;
  display: flex;
  gap: 10px;
  padding: 10px 10px 0px 10px;
  border-radius: 3px;
  box-shadow: 0px 0px 7px rgb(175, 165, 165);
}

.quotes-collection h2{
  margin-top: -5px;
  font-size: 1.4rem;
}

.quotes-collection p{
  margin-top: -20px;
  font-size: 0.8rem;
  color:rgb(138, 136, 136);
}

.quotes-collection{
  max-width: 200px;
}

.music-section{
  display: grid;
  gap: 25px;
}
.slideShow{
  display: flex; 
  justify-content: space-between;
  position: fixed;
  top: 250px;
  width: 100%;
  max-width: 300px;
}

.slideShow button{
  background-color: whitesmoke;
  outline: none;
  border: none;
  width: 25px;
  height: 30px;
  font-size: 1.3rem;
  font-weight: bolder;

}
@media screen and (min-width:500px){
  .cards{
    display: flex;
    flex-wrap: wrap;
    gap: 3vw;
    justify-content: center;
  }

  .header{
    display: flex;
  }

  .logo{
    margin-right: 42vw
  }


  .home{
    align-self:center;
  }

  .quotes{
    width:90vw;
    height: 13vh;
  }
 
}


@media screen and (min-width:769px) {
  .hamburger,.close{
    display: none;
  }
  .nav-box{
    position:relative;
    background-color: transparent;
    height: 35px;
    margin-top: -2px;
    display: block;
  }
  ul{
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
  }

  .link{
    color: white;
  }

  .quotes-section{
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
  }

  .quotes{
    width:40vw;
    height: 13vh;
  }
  .form-page{
    height: 100vh;
  }

  form{
    width: 500px;
    border-radius: 0px;
    background-color: white;
    height: 550px;
    margin-top: 50px;
    padding: 10px 20px;
  }
  .welcome{
    display: none;
  }

  input{
    max-width: 450px;
    height: 5vh;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  label{
    font-size: 1.2rem;
    font-weight: 600;
  }

  .welcome-txt{
    display: block;
    color: rgb(4, 91, 163);
  }

  #sign-in{
    width: 10vw;
    height: 5vh;
    color: white;
    background-color: rgb(4, 91, 163);
    margin-top: 20px;
  }
  .home{
    width: 15%;
  }
  

  
}

@media screen and (min-width:769px) and (max-width:900px){
  .header{
    margin-right: -90px;
  }
  main{
    margin-right: -90px;
  }
}
